body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
    background-image: url('images/beach-1236581_1280.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif; 

 
}
.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.card-content {
  font-size: 20px;
}

