body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

/* src/components/Card.css */
.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.card-content {
  font-size: 20px;
}
